a.fc-col-header-cell-cushion {
    text-decoration: none !important;
}
.text-bold {
    font-weight: bold;
}
#back-btn {
    width: 80px;
}
.fc .fc-timegrid-slot {
    height: 3.5em !important;
}
.fc-event {
    cursor: pointer;
}
.lxp-event-title {
    font-family: var(--bs-body-font-family);
    margin-bottom: 0.1em !important;
    font-size: var(--bs-body-font-size);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.lxp-event-sub-title {
    font-family: var(--bs-body-font-family);
    margin-bottom: 0.1em !important;
    font-size: 0.7rem !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.recall-segment-event-title,.recall-segment-event-sub-title { color: #ca2738; }
.overview-segment-event-title,.overview-segment-event-sub-title { color: #4c4c4c; }
.apply-segment-event-title,.apply-segment-event-sub-title { color: #6f8929; }
.practice-a-segment-event-title,.practice-a-segment-event-sub-title { color: #167394; }
.practice-b-segment-event-title,.practice-b-segment-event-sub-title { color: #167394; }

.recall-event {
   background: #fae9eb !important;
   border-top: #fae9eb !important;
   border-right: #fae9eb !important;
   border-bottom: #fae9eb !important;
   border-left: 4px solid #ca2738 !important;
   border-radius: 0 !important;
   padding-left: 5px !important;
   padding-top: 5px !important;
}
.practice-a-event {
    background: #d2edf6 !important;
    border-top: #d2edf6 !important;
    border-right: #d2edf6 !important;
    border-bottom: #d2edf6 !important;
    border-left: 4px solid #1fa5d4 !important;
    border-radius: 0 !important;
    padding-left: 5px !important;
    padding-top: 5px !important;
}
.practice-b-event {
    background: #d2edf6 !important;
    border-top: #d2edf6 !important;
    border-right: #d2edf6 !important;
    border-bottom: #d2edf6 !important;
    border-left: 4px solid #1fa5d4 !important;
    border-radius: 0 !important;
    padding-left: 5px !important;
    padding-top: 5px !important;
}

.apply-event {
    background: #ecf3d8 !important;
    border-top: #ecf3d8 !important;
    border-right: #ecf3d8 !important;
    border-bottom: #ecf3d8 !important;
    border-left: 4px solid #9fc33b !important;
    border-radius: 0 !important;
    padding-left: 5px !important;
    padding-top: 5px !important;
}

.overview-event {
    background: #eaeaea !important;
    border-top: #eaeaea !important;
    border-right: #eaeaea !important;
    border-bottom: #eaeaea !important;
    border-left: 4px solid #979797 !important;
    border-radius: 0 !important;
    padding-left: 5px !important;
    padding-top: 5px !important;
}